:root {
    --color-background: rgb(0,0,0); /* All webpage colours are based on variables to ensure compatibility with dynamic colour theming */
    --color-content: rgb(15,15,16);
    --color-box: rgb(26,26,28);
    --color-text: rgba(255,255,255,0.5);
    --color-text-subtle: rgba(255,255,255,0.25);
    --color-text-hover: rgb(255,255,255);
    --color-button-hover: rgba(255,255,255,0.1);
}

:root:has(#light:checked) {
    --color-background: rgb(225,228,230);
    --color-content: rgb(241,243,244);
    --color-box: rgb(255,255,255);
    --color-text: rgba(0,0,0,0.5);
    --color-text-subtle: rgba(0,0,0,0.25);
    --color-text-hover: rgb(0,0,0);
    --color-button-hover: rgba(0,0,0,0.1);
}

.color-picker > fieldset {
    border:0;
    padding:0px;
    font-weight:bold;
}

html, body
{  
	margin:0px;
	background-color: var(--color-background);
}

p, h1, a, h2, h3, button, label
{
	font-family: 'Arial', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
	
    color:var(--color-text);

    margin:0px 0px;
    text-align: justify;
}

li
{
	font-family: 'Arial', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
}

button{
    background-color: rgba(0,0,0,0);
}

button{
    width: 100%;
    border:none;
    padding:6px;
}

button:hover, #fakelink:hover { /* Change the cursor and brighten the colours of clickable items hovered over to add visual feedback */
    color:var(--color-text-hover);
    font-weight:bold;
    cursor:pointer;
}

button:hover {
    background-color: var(--color-button-hover);
}

#content {
    background-color:var(--color-content);
    width:960px; /* Width is fixed so that the webpage doesn't warp with resizing */
	margin:auto;
    padding:15px;
}

#row { /* Used to divide things vertically while keeping them organised */
    margin-top:1px;
    margin-bottom:1px;
    width:100%;
}

#box, #column, #album-cover, #album-details, #searchbox {
    color:var(--color-text);
    background-color:var(--color-box);

    width:960px;
    align-content:flex-start;

    display: table-cell;
    outline-style:solid;
    outline-color: var(--color-content);
    outline-width: 3px;
}

#column, #searchbox { /* Column behaviour is added separately to improve workflow with different sections that don't always need it. */
    width:480px;
}

#searchbox:hover {
    cursor:text;
}

#padding { /* Container padding is added separately to improve workflow with album covers that shouldn't be affected by padding. */
    padding:15px;
} 

#album-cover {
    width:192px;
    margin:auto;
}

#album-cover img {
    width:100%;
    align-self: center;
}

#album-details { 
    width:80%;
    align-content: flex-start;
}