html, body
{
    
	margin:0px;
	background-color:rgb(0,0,0);
}

p, h1, a, h3
{
	font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
	margin:0px 0px;
	
	text-decoration: none;
}

#content {
    width:50%;
    left: 25%;
    background-color: aquamarine;
    	position:relative;
}

#box {
    color:red;
    width: 25%;
    display: table-cell;
}

.row {
    
}